// _seleccionarPaciente.scss

@import 'sharedStyles';

.seleccionar-paciente {
    @include step-container;

    .tutor-info {
        margin-bottom: 1.5rem;
        padding: 1rem;
        background-color: $background-light;
        border-radius: $border-radius;
        text-align: center;
        border: 1px solid $border-color;
    }

    .selection-list {
        @include selection-list;
        li {
            @include selection-list-item;
        }
    }

    .navigator-buttons {
        @include navigator-buttons;
    }
}
