h2 {
    font-size: 2em;
    color: $primary-dark;
    margin-bottom: 20px;
    font-weight: 500;
}

button {
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: .7rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $primary-light;
    }

    &.danger {
        background-color: $error-color;
        &:hover {
            background-color: darken($error-color, 10%);
        }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 1.2rem;
}

.pedido-box {
    border: 1px solid #ddd;
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.pedido-actions {
    margin-top: 1.2rem;
    display: flex;
    gap: 10px;
}


.pedido-actions button:hover {
    background-color: #0056b3;
}


.pedido {
    border-radius: 1rem;
    background-color: lightgrey;
    padding: 1rem;
    max-width: 25vw;
    li { 
        p {
            margin-top: .3rem;
        }
    }
}