.add-product-container {
  max-width: 600px;
  margin: 1rem auto;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.add-product-container h2 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
}
.add-product-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.add-product-container form label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #555;
}
.add-product-container form label input,
.add-product-container form label select,
.add-product-container form label textarea {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 0.5rem;
  transition: border-color 0.3s ease;
}
.add-product-container form label input:focus,
.add-product-container form label select:focus,
.add-product-container form label textarea:focus {
  border-color: #007bff;
  outline: none;
}
.add-product-container form label textarea {
  resize: vertical;
  min-height: 100px;
}
.add-product-container form button {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add-product-container form button:hover {
  background-color: #0056b3;
}

h1, h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  h1, h2 {
    font-size: 20px;
    margin-top: 1rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0056b3;
}

form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
form button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
form button:hover {
  background-color: #0056b3;
}
form p {
  color: red;
}

.dashboard {
  display: flex;
  position: relative;
}
.dashboard .toggle-button {
  display: none;
  position: absolute;
  top: -35px;
  left: 140px;
  background-color: #ff8c34;
  color: #F5F5F5;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  z-index: 1000;
}
.dashboard .sidebar {
  width: 15rem;
  background-color: #0b369c;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 0px 16px 16px 0px;
  transition: transform 0.3s ease-in-out;
}
.dashboard .sidebar ul {
  list-style: none;
  padding: 0;
}
.dashboard .sidebar ul li {
  margin: 10px 0;
  margin-top: 1rem;
}
.dashboard .sidebar ul li a {
  text-decoration: none;
  color: #F5F5F5;
  background-color: rgb(2, 2, 165);
  font-weight: bold;
  transition: all 0.3s;
  padding: 0.4rem;
  border-radius: 0.3rem;
}
.dashboard .sidebar ul li a:hover {
  background-color: #1d5aea;
}
.dashboard .content {
  flex: 1;
  padding: 20px;
}
@media (max-width: 768px) {
  .dashboard .toggle-button {
    display: block;
  }
  .dashboard .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 999;
  }
  .dashboard .sidebar.open {
    transform: translateX(0);
  }
  .dashboard .content {
    margin-left: 0;
  }
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0.5rem;
  gap: 1rem;
}

.product-item {
  color: rgb(39, 39, 39);
  font-weight: 600;
  background-color: rgb(191, 190, 190);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-item button {
  width: 7rem;
}

.metalinks {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.metalinks:hover {
  background-color: #0056b3;
}

.ex-ul {
  list-style: none;
  padding: 0;
}
.ex-ul div {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  gap: 7%;
  align-items: center;
  width: 100%;
  height: 15rem;
}
.ex-ul div img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.ex-ul div button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.ex-ul div button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem;
    gap: 0.5rem;
  }
}
.edit-product-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.edit-product-container h2 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
}
.edit-product-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.edit-product-container form label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #555;
}
.edit-product-container form label input,
.edit-product-container form label select,
.edit-product-container form label textarea {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 0.5rem;
  transition: border-color 0.3s ease;
}
.edit-product-container form label input:focus,
.edit-product-container form label select:focus,
.edit-product-container form label textarea:focus {
  border-color: #007bff;
  outline: none;
}
.edit-product-container form label textarea {
  resize: vertical;
  min-height: 100px;
}
.edit-product-container form button {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.edit-product-container form button:hover {
  background-color: #0056b3;
}

.dropdown-container {
  margin: 10px 0;
}
.dropdown-container label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}
.dropdown-container select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}
.dropdown-container select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.dropdown-container.double-dropdown {
  display: flex;
  justify-content: space-between;
}
.dropdown-container.double-dropdown select {
  width: 48%;
}

button[type=submit] {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button[type=submit]:hover {
  background-color: #0056b3;
}
button[type=submit]:focus {
  outline: none;
}

.filter-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.filter-container select, .filter-container input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.filter-container select {
  width: 200px;
}
.filter-container input[type=text] {
  width: 100%;
}
.filter-container .filter-buttons {
  display: flex;
  gap: 10px;
}
.filter-container .filter-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 14px;
}
.filter-container .filter-buttons button:hover {
  background-color: #0056b3;
}

.pedido-item {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #212121;
}
.pedido-item h3 {
  margin-top: 0;
  font-size: 1.5em;
  color: #0b369c;
  font-weight: 500;
}
.pedido-item p {
  margin: 10px 0;
  font-size: 1em;
  color: #404040;
}
.pedido-item p strong {
  font-size: 1.2rem;
}
.pedido-item h4 {
  margin-top: 15px;
  font-size: 1.2em;
  color: #021128;
  font-weight: 400;
}
.pedido-item ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.pedido-item ul li {
  border-bottom: 1px solid #404040;
  padding: 8px 0;
  font-size: 1em;
  color: #404040;
}
.pedido-item ul li:last-child {
  border-bottom: none;
}
.pedido-item button {
  background-color: #0b369c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}
.pedido-item button:hover {
  background-color: #2359d9;
}
.pedido-item button.danger {
  background-color: #b00020;
}
.pedido-item button.danger:hover {
  background-color: #7d0017;
}

h2 {
  font-size: 2em;
  color: #021128;
  margin-bottom: 20px;
  font-weight: 500;
}

button {
  background-color: #0b369c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #2359d9;
}
button.danger {
  background-color: #b00020;
}
button.danger:hover {
  background-color: #7d0017;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/*# sourceMappingURL=main.css.map */
