@import "variables.scss";
@import "addProduct.scss";
@import "app.scss";
@import "login.scss";
@import "dashboard.scss";
@import "productList.scss";
@import "editProduct.scss";
@import "menusDesplegables.scss";
@import "filtrado.scss";
@import "handleOrders.scss";
@import "filtros.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", system-ui;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
